@import "~@/theme/theme.less";

.root {
  display: flex;
  flex-direction: column;
  background: @yb-body;
}

.head {
  flex: 0 0 130px;
}

.body {
  flex: 1;
  padding-top: 12px;
  background: @fill-base;
  border-radius: 15px 15px 0 0;
  min-height: 1500px;
}

.tabContainer {
  padding: 0 20px;
}

.tabContainerTitle {
  color: @color-text-caption
}

.tabContainerParagraph {
  color: @color-text-paragraph;
}