@import '~@/theme/theme.less';


.map {
  border-top: 1px solid @border-color-base;
  border-bottom: 1px solid @border-color-base;
  background-color: @fill-base;
  padding: 10px;
  width: 100vw;
  height: 235px;
}

.info {
  width: 100vw;
}
